/* CSS RESET =========== */
@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

* {
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 17px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
optgroup {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  line-height: 1.6;
  color: rgb(210, 210, 210);
  font-size: 15px;
}

.bold {
  font-weight: bold;
  color: rgb(213, 213, 213);
}

button,
select {
  text-transform: none;
}

::selection {
  color: black;
  background-color: rgb(173, 249, 231);
}

body {
  background-color: #000;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  transition-duration: 0.2s;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  opacity: 0.95;
  margin: 10px 0 30px 0;
}

.logo span {
  color: rgb(25, 245, 245);
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: rgb(48, 228, 228);
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 15px;
  opacity: 0.95;
  transition: opacity 0.3s ease;
}

.menu a:hover {
  text-decoration: underline;
  opacity: 1;
}

.menu-icon {
  display: none; /* Hide hamburger menu on desktop */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px 50px 40px;
}

h2,
h3 {
  opacity: 0.95;
}

h2 {
  color: rgb(2, 218, 218);
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
  margin: 30px 0 0 0;
}

.innera {
  color: rgb(2, 189, 189);
}

/* New Styles for Account Deletion Page */
#account-deletion {
  background-color: #000;
  color: rgba(255, 255, 255, 0.9);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.row .text,
.row .image {
  flex: 1;
  margin: 10px;
}

.row .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row img {
  max-width: 250px;
  height: auto;
}

.last-row .image {
  display: none; /* Hide image in the last row */
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .row img {
  max-width: 200px;
  }
  .reverse-flex .image {
    order: 2;
  }
  .reverse-flex .text {
    order:1;
  }
}

@media screen and (max-width: 500px) {
  .logo {
  margin: 10px 0 15px 0;
  }
  header {
    padding: 20px 0 10px 0;
  }
  .container {
    padding: 10px 20px 30px 20px;
  }
  h3 {
    margin: 15px 0 0 0;
  }
}